// Define variables for your color scheme

// For example:
$red: #bc3535;
$blue: #6d68cb;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1cb671; //#1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$purple: #630c3c;
$dark-grey: #484848;
$light-purple: #925b70;
