.schedule {
  h3 {
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
  }
}

.table {
  thead {
    background-color: $purple;
    color: white;
    tr {
      font-weight: medium;
    }
  }
}
