.position-relative {
  z-index: -999999;
}
.teacher-content {
  min-height: 120px;
  h1, h2, h3, h4 {
    color: #925b70;
    font-weight: bold;
  }
  p {
    color: #484848;
  }
}
.left-container {
  width: 450px;
}

.right-container {
  width: 500px;
}

.teacherCard-description p {
  font-size: 12px;
}

.calender {
  width: 500px;
  height: 250px;
  background-color: rgb(114, 109, 0);
}

.first_span {
  margin: 0 0 0 5px;
}

.review-card {
  margin: 15px 0;
}

.text-yellow {
  color: rgb(242, 161, 56);
}

.right-container-hr {
  // visibility: hidden;
  display: none;
}
@media (max-width: 992px) {
  .right-container > h2 {
    // background-color: lightblue;
    padding: 8px 0;
  }
  .right-container-hr {
    display: block;
  }
}
