<div class="teacherCard-price">
  <%# <span>Speaks: English</span> %>
  From: S$
  <% array_count = [] %>
  <% user.subjects.each do |subject| %>
    <% array_count << subject.hourly_rate %> 
  <% end %>
    <%= array_count.min %>
</div>
