<div class=star-ratings>
  <% if user.reviews.count == 0 %>
    <% (5).times do %>
    <span><i class="bi bi-star-fill"></i></span>
    <% end %>
  <% else %>
    <% sum_reviews = 0 %>
    <% total_reviews = 0 %>
    <% user.reviews.each do |review| %>
      <% sum_reviews += review.rating %>
      <% total_reviews += 1 %>
      <% rating = (sum_reviews.to_f / total_reviews).round %>
        <% rating.times do %>
          <span><i class="bi bi-star-fill text-yellow"></i></span>
        <% end %>
        <% (5-rating).times do %>
          <span><i class="bi bi-star-fill"></i></span>
        <% end %>
    <% end %>
  <% end %>
</div>