<div class="col-4" data-controller="surprise">
  <div class="surprise-container" data-surprise-target="avatar">
    <% if @user.photo.key %>
      <%= cl_image_tag @user.photo.key, crop: :thumb, gravity: :face,
      class: 'surprise-avatar',
      data: {calendar_target: "grade", action: "click->surprise#displayQuestion"},
      radius: :max %>
    <% else %>
      <img class="surprise-avatar" data-action="click->surprise#displayQuestion"
      alt="avatar-large" src=<%= @user.seed_avatar %> />
    <% end %>
  </div>

  <p class="joke"
  data-surprise-target="question"
  data-action="click->surprise#displayAnswer"
  ></p>

  <p class="joke"
  data-surprise-target="answer"
  data-action="click->surprise#backToAvatar"
  ></p>
</div>
