<div class="teacherCard-teaches mb-2">
  <span>
    Teaches: 
    <% user.subjects.each do |subject| %>
      <% if(subject != user.subjects.last) %>
        <%= subject.title %>,
        <% else %>
        <%= subject.title %>
      <% end %>
    <% end %>
  </span>
</div>