
<div class="container" >
  <h3>Add a subject</h3>
  <%= simple_form_for @user do |f| %>
    <%= f.input :username, collection: Subject::SUBJECTS%>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>



<%= render 'users/default' %>
