<div class="container my-3" id="mySchedule" >
  <!--  Tab bar: Availability | Schedule -->
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-availability-tab" data-bs-toggle="pill" data-bs-target="#pills-availability" type="button" role="tab" aria-controls="pills-availability" aria-selected="true">Calendar</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-schedule-tab" data-bs-toggle="pill" data-bs-target="#pills-schedule" type="button" role="tab" aria-controls="pills-schedule" aria-selected="false">Schedule</button>
    </li>
  </ul>
  <hr>

  <!-- Tab content: Calendar -->
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-availability" role="tabpanel" aria-labelledby="pills-availability-tab" tabindex="0">

      <!-- Tab bar for calendar view: week/month -->
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-week-tab" data-bs-toggle="pill" data-bs-target="#pills-week" type="button" role="tab" aria-controls="pills-week" aria-selected="true">week</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-month-tab" data-bs-toggle="pill" data-bs-target="#pills-month" type="button" role="tab" aria-controls="pills-month" aria-selected="false">month</button>
        </li>
      </ul>

      <!-- Tab content for calendar view: week/month -->
      <div class="tab-content" id="pills-tabContent" data-controller="availability">
        <h2 style="display: inline-block;">Your schedule</h2>
        <% if current_user.schedule.nil? %>
          <div class="notif mb-3" data-availability-target="notif">
        <p style="display: inline-block;margin: auto;">You have not set a schedule yet. Go to schedules tab to set up your weekly schedule</p><button class="btn btn-danger btn-sm mx-3" data-action="click->availability#closeNotif">X</button>
        </div>
        <% end %>

        <button class="btn btn-success" style="float: right;color: white;" data-action="click->availability#modalAppear">+</button>
        <button data-action="click->availability#deleteMode" data-availability-target="delBtn" class="btn btn-danger mx-2" style="float: right;color: white;">-</button>
          <!-- This is the modal pop up for the new avail form-->
          <%= render 'schedules/addavail' %>
        <div class="tab-pane fade show active" id="pills-week" role="tabpanel" aria-labelledby="pills-week-tab" tabindex="0">
          <%= render 'schedules/weekcalendar' %>
        </div>
        <div class="tab-pane fade" id="pills-month" role="tabpanel" aria-labelledby="pills-month-tab" tabindex="0">
          <%= render 'schedules/monthcalendar' %>
        </div>
      </div>
    </div>

    <!-- Tab content: Set/View weekly schedule -->
    <div class="tab-pane fade" data-controller="schedule" id="pills-schedule" role="tabpanel" aria-labelledby="pills-schedule-tab" tabindex="0">
      <%= render 'schedules/schedule' %>
    </div>
  </div>
</div>
