<div class="container main-container ">
  <div class="row">
    <div class="container left-container">
      <div class="teacher">
        <div class="teacher_main">
          <div class="teacherCard card p-2">
            <div class="teacherCard-left">
              <div class="avatar">
              </div>
              <div class="teacherCard-body">
                <div class="teacherCard-top">
                  <div class="teacherCard-middle">
                    <div class="teacherCard-name">
                      <%= @user.username %>
                    </div>
                    <div class="teacherCard-info">
                    <div>
                      <span>Professional Teacher</span>
                    </div>
                    <div>
                      <span>From Singapore</span>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="teacherCard-bottom mt-4">
                  <div class="teacherCard-teaches mb-2"><span>Teaches: English, Maths</span></div>
                  <div class="teacherCard-speaks"><span>Speaks: English</span></div>
                </div> 
              </div>
            </div>
            <div class="teacherCard-right mt-4">
              <div class=star-ratings>Ratings in stars</div>
              <div class=students>
                <span>32 Students</span>
              </div>
              <div class=lessons>
                <span>71 Lessons</span>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body description">
              <h3>Description</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit esse minus consequatur neque sit dolor laudantium facilis tempore nobis, molestiae in repudiandae non doloribus dicta dolorem deserunt? Quod, nesciunt eos.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="container right-container">
    <h2>Availabilities</h2>
  </div>
</div>