#banner {
  margin: 30px 0 10px 0;
  // background-color: white;
  width: auto;
  height: 100px;
}

#banner .banner-title {
  font-size: 32px;
}

#banner .banner-teacher-count {
  padding: 0 12px;
  font-size: 14px;
  color: rgba(190, 190, 190, 0.9);
}

#banner p {
  color: rgb(76, 69, 69);
}
