.bookings-container {
  border-style: solid;
  border-width: thin;
  padding: 8px;
  // margin-bottom: 24px;
  // margin-top: 12px;
  background-color: #5d68cb;
  margin: 30px 100px 24px 100px;
  border-radius: 12px;
}

.card-body {
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 8px;
}

.card-user-dets {
  padding-left: 8px;
}

.grades {
  margin-left: 80px;
}

.student_booking {
  position: sticky;
  top: 0;
}

#problem-child {
  padding: 12px;
}
