.simple-calendar {
  table {
    min-height: 80vh;
  }
  .today {
    background-color: #FAF3DD;
  }
}

.calendar-title {
  color: $purple;
}

.available {
  color: white;
  padding: 4px 4px;
  border-radius: 4px;
  background: #5bc48c;
  transition: background 0.3s ease;
  font-size: 14px;
  text-align: center;

  p {
    margin: 0px;
  }
}
.month_available {
  color: white;
  padding: 4px 4px;
  border-radius: 4px;
  background: #5bc48c;
  transition: background 0.3s ease;
  font-size: 12px;
  text-align: center;

  p {
    margin: 0px;
  }
}

.booking {
  color: white;
  padding: 4px 4px;
  border-radius: 4px;
  background: #bc3535;
  transition: background 0.3s ease;
  font-size: 14px;
  text-align: center;

  p {
    margin: 0px;
  }
}
.month_booking {
  color: white;
  padding: 4px 4px;
  border-radius: 4px;
  background: #bc3535;
  transition: background 0.3s ease;
  font-size: 12px;
  text-align: center;

  p {
    margin: 0px;
  }
}

.available:hover {
  background: #53b480;
  color: white;
}

.booking:hover {
  background: #a52f2f;
  color: white;
}
