// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "teacher";
@import "button";
@import "calendar";
@import "credit_card_form";
@import "subject_cards";
@import "bookings";
@import "tab";
@import "banner";
@import "carousel";
@import "surprise";

:root {
  font-family: 'Montserrat', sans-serif;

  h1 {
    font-weight: 700;
  }

  h2, h3, h4 {
    font-weight: 600;
  }

  p, span {
    font-weight: 400;
  }
}
