.navbar {
  background-color: #000000;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.tab-content {
  color: black;
}
.nav-link {
  color: #6d68cb;
}
.nav-item {
  color: #6d68cb;
}
.tab-pane {
  color: black;
  a {
    color: white;
  }
}
.active {
    color: #282828;
    h1, h2, h4, h5 {
      color: #630c3c;
    }

    h3 {
      color: #3f3b8d;
    }
  }
