.row a {
  text-decoration: none;
  // margin: 0px;
  color: black;
}

.teacher-cards {
  margin-top: -50px;
}

.teacher-main {
  // border: 1px solid rgb(190, 190, 190);
  border-radius: 12px;
  padding: 0.3rem;
  background-color: white;
  display: flex;
  box-shadow: 1px 2px 3px rgba($color: #000000, $alpha: .3);
  transition: transform 500ms ease;
  max-width: 510px;

  .teacherCard-left {
    display: flex;
    padding: 15px;
    font-size: 12px;
  }

  .teacherCard-right {
    font-size: 12px;
  }

  .teacherCard-description {
    border-radius: 10px;
  }
  // .teacherCard-right {
  //   margin: 0 20px 0 0;
  // }
  .text-yellow {
    color: rgb(242, 161, 56);
  }

  .text-grey {
    color: rgb(190, 190, 190);
  }

  .teacherCard-name {
    font-size: 16px;
    font-weight: 700;
  }

  &:hover {
    // box-shadow: 2px 4px #888888;
    border: 2px solid rgb(238, 182, 182);
    background-color: rgb(255, 241, 241);
    transform: scale(1.03);
  }

  &:hover * {
    font-weight: 700;
    transition: 50ms ease;
  }
}
